
body{
	background-color: white;
}

p{
	font-family: Verdana;
	font-size: 13px;
	text-align: justify;
}

#menu{
	height: 30px;
	width: 960px;
	padding: 10px 0px;
	text-align: center;
	word-spacing: 15px;
	background-color: #03738C;
}

/*FORMATAÇÃO DO LINK*/

/*situação inicial do link*/
a:link{
	color: white;
}

/*link visitado*/ 
a:visited{
	color: white;
}

/*mouse sobre o link*/
a:hover{
	color: #ACE5F2;
}

/*link clicado*/
a:active{
	color:#037F8C
}

.cabecalho{
	height: 200px;
	margin: 5px 0px;
} 
.cabecalho img{
	width: 960px;
	height: 200px;
	align-self: center;
}
#conteudo{
	width: 960px;
}

#principal{
	height: auto;
	width: 680px;
	float: left;
	margin: 5px 0px 10px 0px;
	padding: 5px;
	background-color: #04ADBF;
}
.lateral{
	width: 255px;
	border-radius: 5px;
	margin: 0px 0px 5px 5px; 
	font-size: 10px;
	float: right;
	padding: 3px;
	height: 400px;
	margin: 5px 0px 5px 5px;
	background-color: #A6806A;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}
.lateral img{
	width: 100%;
	height: auto;
}
#rodape{
	width: 960px;
	height: 80px;
	clear: both;
	text-align: center;
	background-color: #03738C;
	color: white;
}
#pagina{
	margin: 15px auto;
	border: 2px solid #ACE5F2;
	width: 960px;
	text-align: center;
}
